<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>M Design Demo</title>
    <link rel="stylesheet" type="text/css" href="styles/gravity_demo.css" />
  </head>
  <body>
    <div class="header">
      <h1>M Design</h1>
      <pre class="output"></pre>
    </div>
    <img src="resources/m_logo.png" alt="logo" id="logo" />
    <footer class="footer"><p>Copyright &copy; 2019 By Su Han</p></footer>
    <script src="scripts/gravity_demo.js"></script>
  </body>
</html>
